<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_Megamenu>  
            <version>1.1.0</version>  
        </Ves_Megamenu>  
    </modules>  
    <frontend>
        <routers>
            <vesmegamenu>
                <use>standard</use>
                <args>
                    <module>Ves_Megamenu</module>
                    <frontName>vesmegamenu</frontName>
                </args>
            </vesmegamenu>
        </routers>
        <translate>
            <modules>
                <Ves_Megamenu>
                    <files>
                        <default>Ves_Megamenu.csv</default>
                    </files>
                </Ves_Megamenu>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_megamenu>
                    <file>ves_megamenu.xml</file>
                </ves_megamenu>
            </updates>
        </layout>
    </frontend>	
    <global>  		     
        <blocks>
            <ves_megamenu>
                <class>Ves_Megamenu_Block</class>
            </ves_megamenu>
        </blocks>
        <models>
            <ves_megamenu>
                <class>Ves_Megamenu_Model</class>
                <resourceModel>ves_megamenu_mysql4</resourceModel>
            </ves_megamenu>
            <ves_megamenu_mysql4>
                <class>Ves_Megamenu_Model_Mysql4</class>
                <entities>
                    <megamenu>
                        <table>ves_megamenu_megamenu</table>
                    </megamenu>
                    <megamenu_store>
                        <table>ves_megamenu_megamenu_store</table>
                    </megamenu_store>
                    <megamenu_widget>
                        <table>ves_megamenu_megamenu_widget</table>
                    </megamenu_widget>
                </entities>
            </ves_megamenu_mysql4>
        </models>
        <helpers>
            <ves_megamenu>
                <class>Ves_Megamenu_Helper</class>
            </ves_megamenu>
        </helpers>
        <resources>
            <ves_megamenu_setup>
                <setup>
                    <module>Ves_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_megamenu_setup>
            <ves_megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_megamenu_write>
            <ves_megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_megamenu_read>
        </resources>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <ves_megamenu_observer>
                        <type>singleton</type>
                        <class>Ves_Megamenu_Model_Observer</class>
                        <method>beforeRender</method>
                    </ves_megamenu_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </global> 
     <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ves_Megamenu after="Mage_Adminhtml">Ves_Megamenu</Ves_Megamenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <ves_megamenu>
                    <file>ves_megamenu.xml</file>
                </ves_megamenu>
            </updates>
        </layout>
        
        <translate>
            <modules>
                <Ves_Megamenu>
                    <files>
                        <default>Ves_Megamenu.csv</default>
                    </files>
                </Ves_Megamenu>
            </modules>
        </translate>
    </adminhtml>	
		
    <default>
        <ves_megamenu>
            <ves_megamenu>
                <show>1</show>	
				<enable_jquery>0</enable_jquery>		
				<responsive>1</responsive>		
            </ves_megamenu>
        </ves_megamenu>
    </default>
</config>  