var/cache/**/*
var/session/**/*
var/session/*
var/log/*
var/log/system.log
var/log/exception.log
var/import/*
var/tmp/*
var/locks/*
var/report/*
var/export/*
var/cache/*
var/log/system.log
var/log/exception.log

var/cache/mage--5/mage---internal-metadatas---eac_FOOTER_LOCALEES_CO
var/cache/mage--5/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_currencytoregion_CO
var/cache/mage--1/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_currencysymbol_
var/cache/mage--8/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_day_
var/cache/mage--6/mage---internal-metadatas---eac_DB_PDO_MYSQL_DDL_catalog_product_entity_1
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_territory_2
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_sr_RS_language_sr
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_sk_SK_language_sk
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_tr_TR_language_tr
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_sw_KE_language_sw
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_zh_CN_language_zh
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_uk_UA_language_uk
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_vi_VN_language_vi
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_uk_UA_language_uk
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_zh_TW_language_zh
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_zh_HK_language_zh
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_th_TH_language_th
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_sv_SE_language_sv
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_sq_AL_language_sq
var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_sl_SI_language_sl
var/cache/mage--8/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_month_gregorian_format_abbreviated
var/cache/mage--8/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_month_gregorian_format_abbreviated
var/cache/mage--5/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_currencytoregion_CO
var/cache/mage--9/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_time_
var/cache/mage--9/mage---internal-metadatas---eac_Zend_LocaleL_en_US_days_
var/cache/mage--9/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_time_
var/cache/mage--9/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_date_
var/cache/mage--9/mage---internal-metadatas---eac_DB_PDO_MYSQL_DDL_log_url_1
var/cache/mage--6/mage---internal-metadatas---eac_DB_PDO_MYSQL_DDL_catalog_product_entity_1
var/cache/mage--9/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_date_
var/cache/mage--b/mage---internal-metadatas---eac_ADMIN_NOTIFICATIONS_LASTCHECK
var/cache/mage--b/mage---internal-metadatas---eac_Zend_LocaleL_en_US_months_
var/cache/mage--b/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_symbols_
var/cache/mage--b/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_symbols_
var/cache/mage--a/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_month_
var/cache/mage--b/mage---eac_ADMIN_NOTIFICATIONS_LASTCHECK
var/cache/mage--a/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_month_
var/cache/mage--c/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_date_long
var/cache/mage--c/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_language_
var/cache/mage--c/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_date_full
var/cache/mage--c/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_language_
var/cache/mage--b/mage---internal-metadatas---eac_Zend_LocaleL_es_CO_symbols_
var/cache/mage--d/mage---internal-metadatas---eac_Zend_LocaleC_af_ZA_country_ZA
var/cache/mage--d/mage---internal-metadatas---eac_Zend_LocaleC_ar_SA_country_SA
var/cache/mage--d/mage---internal-metadatas---eac_Zend_LocaleC_cs_CZ_country_CZ
var/cache/mage--d/mage---internal-metadatas---eac_Zend_LocaleC_bn_BD_country_BD
var/cache/mage--c/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_date_long
var/cache/mage--d/mage---internal-metadatas---eac_Zend_LocaleC_ar_KW_country_KW
var/cache/mage--d/mage---internal-metadatas---eac_Zend_LocaleC_cs_CZ_country_CZ
var/cache/mage--d/mage---internal-metadatas---eac_Zend_LocaleC_az_AZ_country_AZ
var/cache/mage--c/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_date_long
var/cache/mage--b/mage---eac_ADMIN_NOTIFICATIONS_LASTCHECK

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_ru_RU_language_ru

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_km_KH_language_km

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_it_CH_language_it

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_gu_IN_language_gu

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_gu_IN_language_gu

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_hr_HR_language_hr

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_hi_IN_language_hi

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_es_CO_language_es

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_fi_FI_language_fi

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_fr_FR_language_fr

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_gu_IN_language_gu

var/cache/mage--e/mage---internal-metadatas---eac_Zend_LocaleC_es_CR_language_es
