<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_Tempcp> 
            <active>true</active>
            <codePool>community</codePool>
            <version>1.1.0</version>  
        </Ves_Tempcp>  
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ves_Tempcp after="Mage_Adminhtml">Ves_Tempcp</Ves_Tempcp>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <Ves_Tempcp>
                    <files>
                        <default>Ves_Tempcp.csv</default>
                    </files>
                </Ves_Tempcp>
            </modules>
        </translate>
    </adminhtml>
    <!-- frontend -->
    <frontend>
        <routers>
            <tempcp>
                <use>standard</use>
                <args>
                    <module>Ves_Tempcp</module>
                    <frontName>vestempcp</frontName>
                </args>
            </tempcp>
             <checkout>
                <args>
                  <modules>
                    <Ves_Tempcp before="Mage_Checkout">Ves_Tempcp</Ves_Tempcp>
                  </modules>
               </args>
              </checkout>
        </routers>
        <translate>
            <modules>
                <Ves_Tempcp>
                    <files>
                        <default>Ves_Tempcp.csv</default>
                    </files>
                </Ves_Tempcp>
            </modules>
        </translate>
         <layout>
            <updates>
                <tempcp>
                    <file>tempcp.xml</file>
                </tempcp>
            </updates>
        </layout>

        <events>
            <controller_action_layout_load_before>
                <observers>
                    <ves_tempcp_observer>
                        <type>singleton</type>
                        <class>Ves_Tempcp_Model_Observer</class>
                        <method>beforeRender</method>
                    </ves_tempcp_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>

    <!--Global-->
    <global>  
        <blocks>
            <ves_tempcp>
                <class>Ves_Tempcp_Block</class>
            </ves_tempcp>
        </blocks>
        <models>
            <ves_tempcp>
                <class>Ves_Tempcp_Model</class>
                <resourceModel>ves_tempcp_mysql4</resourceModel>
            </ves_tempcp>
            <ves_tempcp_mysql4>
                <class>Ves_Tempcp_Model_Mysql4</class>
                <entities>
                    <theme>
                        <table>ves_tempcp_theme</table>
                    </theme>
                    <theme_store>
                        <table>ves_tempcp_theme_store</table>
                    </theme_store>
                </entities>
            </ves_tempcp_mysql4>
        </models>
        <helpers>
            <ves_tempcp>
                <class>Ves_Tempcp_Helper</class>
            </ves_tempcp>
        </helpers>
        <resources>
            <ves_tempcp_setup>
                <setup>
                    <module>Ves_Tempcp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_tempcp_setup>
            <ves_tempcp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_tempcp_write>
            <ves_tempcp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_tempcp_read>
        </resources>
    </global>

    <default>
        <ves_tempcp_info>
            <ves_tempcp>
                <paneltool>0</paneltool>
				<responsive>1</responsive>
				<enablejquery>0</enablejquery>
				<backgroundpattern>vestheme</backgroundpattern>
				<panelposition>top.container</panelposition>
            </ves_tempcp>
        </ves_tempcp_info>
    </default>
</config>  