<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Contentslider>  
			<version>1.1.0</version>  
		</Ves_Contentslider>  
	</modules>
	<frontend>
		 <routers>
            <contentslider>
                <use>standard</use>
                <args>
                    <module>Ves_Contentslider</module>
                    <frontName>vescontentslider</frontName>
                </args>
            </contentslider>
        </routers>
		<translate>
			<modules>
				<Ves_Contentslider>
					<files>
						<default>Ves_Contentslider.csv</default>
					</files>
				</Ves_Contentslider>
			</modules>
		</translate>
		<layout>
			<updates>
				<contentslider module="ves_contentslider">
					<file>ves_contentslider.xml</file>
				</contentslider>
			</updates>
		</layout>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<ves_contentslider_observer>
						<type>singleton</type>
						<class>Ves_Contentslider_Model_Observer</class>
						<method>beforeRender</method>
					</ves_contentslider_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
	 
        </events>
	</frontend>	
	<global>  		     
		<blocks>
            <ves_contentslider>
                <class>Ves_Contentslider_Block</class>
            </ves_contentslider>
        </blocks>
        <models>
            <ves_contentslider>
                <class>Ves_Contentslider_Model</class>
                <resourceModel>ves_contentslider_mysql4</resourceModel>
            </ves_contentslider>
            <ves_contentslider_mysql4>
                <class>Ves_Contentslider_Model_Mysql4</class>
                <entities>
					<banner>
                        <table>ves_contentslider_banner</table>
                    </banner>
					<banner_store>
                        <table>ves_contentslider_banner_store</table>
                    </banner_store>
                </entities>
            </ves_contentslider_mysql4>
        </models>
        <helpers>
            <ves_contentslider>
                <class>Ves_Contentslider_Helper</class>
            </ves_contentslider>
        </helpers>
        <resources>
            <ves_contentslider_setup>
                <setup>
                    <module>Ves_Contentslider</module>
				
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_contentslider_setup>
            <ves_contentslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_contentslider_write>
            <ves_contentslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_contentslider_read>
        </resources>

	</global>  
	<admin>
		<routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ves_Contentslider after="Mage_Adminhtml">Ves_Contentslider</Ves_Contentslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<default>
        <ves_contentslider>
            <general_setting>
                <show>1</show>    
                <theme>default</theme>
				<enable_jquery>0</enable_jquery>
				<title>Ves Brand</title>  
				<theme>default</theme>
                <route>ves-brand</route>
				<extension>html</extension>
				<brand_imagesize>124x45</brand_imagesize>
				<enable_icon>1</enable_icon>
			</general_setting>
			 
			<module_setting>
				<enable_scrollmodule>1</enable_scrollmodule>
				<brandnav_parent>0</brandnav_parent>
				<limit_items>6</limit_items>
				<scroll_position>content</scroll_position>
				<scroll_title></scroll_title>
				<scrollmod_desc></scrollmod_desc>
				<scroll_display>after</scroll_display>
				<scroll_menuassignment>all</scroll_menuassignment>
				<scroll_typesource>scroll</scroll_typesource>
				<itemvisiable>6</itemvisiable>
				<isvertical>0</isvertical>
				<enable_brandnavmodule>1</enable_brandnavmodule>
				<brandnav_title>Shop By Brand</brandnav_title>
				<isdropdown>0</isdropdown>
				<brandnav_menuassignment>all</brandnav_menuassignment>
				<brandnav_title>Brand Categories</brandnav_title>
				<brandnav_position>right</brandnav_position>
				<brandnav_customposition></brandnav_customposition>
				<brandnav_display></brandnav_display>
				
			</module_setting>
        </ves_contentslider>
    </default>
</config>  