<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_TreeMenu>  
            <version>1.1.0</version>  
        </Ves_TreeMenu>  
    </modules>	
    <frontend>
        <translate>
            <modules>
                <Ves_TreeMenu>
                    <files>
                        <default>Ves_TreeMenu.csv</default>
                    </files>
                </Ves_TreeMenu>
            </modules>
        </translate>
        <layout>
            <updates>
                <treemenu>
                    <file>ves_treemenu.xml</file>
                </treemenu>
            </updates>
        </layout>
		
        <routers>
            <treemenu>
                <use>standard</use>
                <args>
                    <module>Ves_TreeMenu</module>
                    <frontName>treemenu</frontName>
                </args>
            </treemenu>
        </routers>  
		<events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <ves_treemenu_observer>
                        <type>singleton</type>
                        <class>Ves_TreeMenu_Model_Observer</class>
                        <method>beforeRender</method>
                    </ves_treemenu_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
	</frontend>	
    <global>  		     
        <blocks>
            <ves_treemenu>
                <class>Ves_TreeMenu_Block</class>
            </ves_treemenu>
        </blocks>
        <models>
            <ves_treemenu>
                <class>Ves_TreeMenu_Model</class>
                <resourceModel>ves_treemenu_mysql4</resourceModel>
            </ves_treemenu>
            <ves_treemenu_mysql4>
                <class>Ves_TreeMenu_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>ves_treemenu_banner</table>
                    </banner>
                </entities>
            </ves_treemenu_mysql4>
        </models>
        <helpers>
            <ves_treemenu>
                <class>Ves_TreeMenu_Helper</class>
            </ves_treemenu>
        </helpers>
        <resources>
            <ves_treemenu_setup>
                <setup>
                    <module>Ves_TreeMenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_treemenu_setup>
            <ves_treemenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_treemenu_write>
            <ves_treemenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_treemenu_read>
        </resources>
       
    </global>  

    <default>
        <ves_treemenu>
            <ves_treemenu>
                <enable_module>1</enable_module>
				<show>1</show>
				<theme>default</theme>
                <enable_jquery>0</enable_jquery>
				<showtitle>1</showtitle>
				<title>Categories</title>
				<menustyle>Accordion</menustyle> <!-- Tree, Dropdown, Accordion -->
				<event>click</event>
				<blockPosition>right</blockPosition>
				<blockDisplay>before</blockDisplay>
				<menuAssignment>all</menuAssignment>
            </ves_treemenu>
        </ves_treemenu>	
    </default>
</config>  