<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_TabsHome>  
            <version>1.1.0</version>  
        </Ves_TabsHome>  
    </modules>  
    <!-- frontend -->
    <frontend>
        <translate>
            <modules>
                <Ves_TabsHome>
                    <files>
                        <default>Ves_TabsHome.csv</default>
                    </files>
                </Ves_TabsHome>
            </modules>
        </translate>
        <layout>
            <updates>
                <tabshome>
                    <file>ves_tabshome.xml</file>
                </tabshome>
            </updates>
        </layout>
        <routers>
            <tabshome>
                <use>standard</use>
                <args>
                    <module>Ves_TabsHome</module>
                    <frontName>tabshome</frontName>
                </args>
            </tabshome>
        </routers>
    </frontend>
    <!--Global-->
    <global>  
        
        <blocks>
            <ves_tabshome>
                <class>Ves_TabsHome_Block</class>
            </ves_tabshome>
        </blocks>
        <models>
            <ves_tabshome>
                <class>Ves_TabsHome_Model</class>
            </ves_tabshome>
			<ves_tabshome_mysql4>
                <class>Ves_TabsHome_Model_Mysql4</class>         
            </ves_tabshome_mysql4>
        </models>
        <helpers>
            <ves_tabshome>
                <class>Ves_TabsHome_Helper</class>
            </ves_tabshome>
        </helpers>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <ves_tabshome_observer>
                        <type>singleton</type>
                        <class>Ves_TabsHome_Model_Observer</class>
                        <method>beforeRender</method>
                    </ves_tabshome_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
		
		 <resources>
            <ves_tabshome_setup>
                <setup>
                    <module>Ves_TabsHome</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_tabshome_setup>
            <ves_tabshome_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_tabshome_write>
            <ves_tabshome_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_tabshome_read>
        </resources>
    </global>
    <admin>
        <routers>
            <tabshome>
                <use>admin</use>
                <args>
                    <module>Ves_TabsHome</module>
                    <frontName>tabshome</frontName>
                </args>
            </tabshome>
        </routers>
    </admin>
	 <adminhtml>
        
        <translate>
			<modules>
				<Ves_TabsHome>
					<files>
						<default>Ves_TabsHome.csv</default>
					</files>
				</Ves_TabsHome>
			</modules>
		</translate>
    </adminhtml>	
    <default>
        <ves_tabshome_info>
            <ves_tabshome>
                <theme>default</theme>
                <show>1</show>
                
				<enable_jquery>0</enable_jquery>
                
                <enable_feature>1</enable_feature>
                <enable_bestseller>0</enable_bestseller>
                <enable_mostview>1</enable_mostview>
                <enable_new>1</enable_new>
                <enable_special>0</enable_special>
                <limit_item>6</limit_item>
                <set_time>2</set_time>
                <module_width>auto</module_width>
                <blockPosition>content</blockPosition>
				<blockDisplay>before</blockDisplay>
				<menuAssignment>Mage_Cms_index</menuAssignment>
                <slider_speed>800</slider_speed>
                <auto_play>0</auto_play>
                <blockDisplay>before</blockDisplay>
                <limit_item>12</limit_item>
				<itemsrow>4</itemsrow>
				<itemspage>4</itemspage>
                <desc_maxchar>100</desc_maxchar>
                <image_width>300</image_width>
                <image_height>300</image_height>
                <swap_image_number>0</swap_image_number>
                <popup_quickview_width>60%</popup_quickview_width>
                <popup_quickview_height>80%</popup_quickview_height>
            </ves_tabshome>
            <main_slider>
                <open_link>_blank</open_link>
                <max_char>100</max_char>
                <cre_main_size>0</cre_main_size>
                <tooltip_style>vs-tooltip</tooltip_style>
                <main_imgsize>home</main_imgsize>
                <limit_col>4</limit_col>
                <limit_row>2</limit_row>
                
                <main_height>147</main_height>
                <main_width>131</main_width>
                
                <show_des>1</show_des>
                <show_price>1</show_price>
                <show_price_without>1</show_price_without>
                <show_title>1</show_title>
                <show_img>1</show_img>
                <show_public_date>1</show_public_date>
                <show_btn>1</show_btn>
                <online_icon>1</online_icon>
                <feature_icon>1</feature_icon>
                <enable_new_icon>1</enable_new_icon>
                <enable_sale_icon>1</enable_sale_icon>

                <show_pzoom>1</show_pzoom>
                <enable_quickview>0</enable_quickview>
                <enable_swap>0</enable_swap>
            </main_slider>
        </ves_tabshome_info>
    </default>
</config>  