$image-theme-path-base:'../images/';
$image-theme-path : '../images/';

/*------------------ User ------------------*/
$theme-color-default					: #000; //000
$body-background 						: #fff; //fff
$base-color								: #666; //666
$base-link-color						: #666; //666
$border-color 							: #E4E4E4; //E4E4E4 

/* NAV */
$nav-lv1-color							: #000; //000
$nav-lv1-color-hover					: #000; //000


/* Heading */
$h_color								: #999; //999
$h_color-hover							: #666; //999
$h_active-color							: #000; //000

/* Product */
$p_name-color							: #000; //000
$p_name-color-hv						: #666; //000
$p_price-color							: $theme-color-default; //000
$p_special-price-color					: #b34a4a; //b34a4a
$p_old-price-color						: #999; //999

/* Setting */
$topbar-border-color						: $theme-color-default transparent $border-color;
$navbar-border-color						: $border-color transparent $theme-color-default;

/*------------------ End User ------------------*/