<?xml version="1.0"?>
<config>
    <tabs>
        <ves translate="label" module="ves_brand">
            <label>Venus Theme</label>
            <sort_order>211</sort_order>
        </ves>
    </tabs>
	<sections>
        <ves_brand>
            <label>Ves Brand</label>
            <tab>ves</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<general_setting translate="label">
                    <label>General Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>     
						<last_update translate="label">
							<label>Current Update Time</label>
							<frontend_type>label</frontend_type>
							<frontend_model>ves_brand/system_config_form_field_notification</frontend_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</last_update> 
						<show translate="label" module="core">
							<label>Enabled</label>
							<sort_order>10</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show>	
						<title translate="label">
                            <label>Module Title </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <comment>Empty for hide</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<route translate="label">
                            <label>Route</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <comment>Configure Brand Link, for example: http://domain.com/YOUR_ROUTER</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </route> 
					 
						
								
						<spacer_1 translate="label">
							<label>Set Width and Height for Images</label>
							<frontend_type>label</frontend_type>
							<frontend_model>ves_brand/system_config_form_field_spacer</frontend_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</spacer_1> 
						<brand_imagesize translate="label">
                            <label>Image Brand Size, it is used in scroller module</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>41</sort_order>
                            <comment>Formart WidthxHeight, for example: 600x250</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </brand_imagesize> 
						 <enable_icon translate="label" module="core">
								<label>Enable Brand Icon</label>
								<sort_order>42</sort_order>
								<comment>Enable Icon In Product Page</comment>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</enable_icon>
					</fields>
				</general_setting>
			 
				<module_setting>
					<label>Modules Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2003</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<fields>
						<spacer_1000 translate="label">
							<label>Brand Navigator Module</label>
							<frontend_type>label</frontend_type>
							<frontend_model>ves_brand/system_config_form_field_spacer</frontend_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</spacer_1000> 
							<enable_brandnavmodule translate="label" module="core">
								<label>Enable Navigator Module</label>
								<sort_order>102</sort_order>
								<comment>Show related post by tag</comment>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</enable_brandnavmodule>
							<brandnav_title translate="label" module="core">
								<label>Brand Title</label>
								<sort_order>103</sort_order>
								<comment>Whethere to show Brand Categories Block</comment>
								<frontend_type>text</frontend_type>
						
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</brandnav_title>
							<isdropdown translate="label" module="core">
								<label>Is Dropdown </label>
								<sort_order>103</sort_order>
								<comment>Display dropdown or UL list </comment>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_yesno</source_model>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
							</isdropdown>
						 
					
						<spacer_2000 translate="label">
							<label>Brand Scroller Module</label>
							<frontend_type>label</frontend_type>
							<frontend_model>ves_brand/system_config_form_field_spacer</frontend_model>
							<sort_order>199</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</spacer_2000> 
						
						
						<enable_scrollmodule translate="label" module="core">
							<label>Enable Brand Scroller Module</label>
							<sort_order>200</sort_order>
							<comment>Whether to enable the module</comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_scrollmodule>
						<scrollmod_title translate="label" module="core">
							<label>Module Title</label>
							<sort_order>201</sort_order>
							<comment>Maximum brand show in module</comment>
							<frontend_type>text</frontend_type>
					
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scrollmod_title>
	 
						
						<itemvisiable translate="label" module="core">
							<label>Items Visiable</label>
							<sort_order>205</sort_order>
							<comment>Maximum brand show in module</comment>
							<frontend_type>text</frontend_type>
					
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</itemvisiable>
						
						<columns translate="label" module="core">
							<label>Columns</label>
							<sort_order>210</sort_order>
							<comment>number columns on carousel mode</comment>
							<frontend_type>text</frontend_type>
					
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</columns>
					</fields>
					
				</module_setting>	
				<!-- Information -->
				<advanded_parameter>
					<label>Information - Support</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6003</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields> 
						<module_information translate="label">
							<label>Set Module Visable On Pages, Position</label>
							<frontend_type>label</frontend_type>
							<frontend_model>ves_brand/system_config_form_field_information</frontend_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</module_information>                        
					</fields>
				</advanded_parameter>	
            </groups>
        </ves_brand>
    </sections>    
</config>
