<?xml version="1.0"?>
<config>
    <modules>
        <Zientedev_Web>
            <version>0.1.0</version>
        </Zientedev_Web>
    </modules>
    <frontend>
        <routers>
            <web>
                <use>standard</use>
                <args>
                    <module>Zientedev_Web</module>
                    <frontName>web</frontName>
                </args>
            </web>
        </routers>
        <layout>
            <updates>
                <web>
                    <file>web.xml</file>
                </web>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<web>
				<use>admin</use>
				<args>
					<module>Zientedev_Web</module>
					<frontName>web</frontName>
				</args>
			</web>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<web module="web">
				<title>Appointments</title>
				<sort_order>81</sort_order>               
				<children>
					<items module="web">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>web/adminhtml_web</action>
					</items>
				</children>
			</web>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Zientedev_Web>
							<title>Web Module</title>
							<sort_order>10</sort_order>
						</Zientedev_Web>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<web>
					<file>web.xml</file>
				</web>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <web>
                <class>Zientedev_Web_Model</class>
                <resourceModel>web_mysql4</resourceModel>
            </web>
            <web_mysql4>
                <class>Zientedev_Web_Model_Mysql4</class>
                <entities>
                    <web>
                        <table>web</table>
                    </web>
                </entities>
            </web_mysql4>
        </models>
        <resources>
            <web_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </web_write>
            <web_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </web_read>
        </resources>
        <blocks>
            <web>
                <class>Zientedev_Web_Block</class>
            </web>
        </blocks>
        <helpers>
            <web>
                <class>Zientedev_Web_Helper</class>
            </web>
        </helpers>
    </global>
</config>
