<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_ProductCarousel>  
			<version>1.1.0</version>  
		</Ves_ProductCarousel>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Ves_ProductCarousel>
					<files>
						<default>Ves_ProductCarousel.csv</default>
					</files>
				</Ves_ProductCarousel>
			</modules>
		</translate>
		<layout>
			<updates>
				<productcarousel>
					<file>ves_productcarousel.xml</file>
				</productcarousel>
			</updates>
		</layout>

	</frontend>	
	<global> 
		<blocks>
            <ves_productcarousel>
                <class>Ves_ProductCarousel_Block</class>
            </ves_productcarousel>
        </blocks>
       <models>
            <ves_productcarousel>
                <class>Ves_ProductCarousel_Model</class>
                <resourceModel>ves_productcarousel_mysql4</resourceModel>
            </ves_productcarousel>
            
        </models>
        <helpers>
            <ves_productcarousel>
                <class>Ves_ProductCarousel_Helper</class>
            </ves_productcarousel>
        </helpers>
        <resources>
            <ves_productcarousel_setup>
                <setup>
                    <module>Ves_ProductCarousel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_productcarousel_setup>
            <ves_productcarousel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_productcarousel_write>
            <ves_productcarousel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_productcarousel_read>
        </resources>
	
	</global>  
	<admin>
        <routers>
            <productcarousel>
                <use>admin</use>
                <args>
                    <module>Ves_ProductCarousel</module>
                    <frontName>productcarousel</frontName>
                </args>
            </productcarousel>
        </routers>
    </admin>
		
	<default>
        <ves_productcarousel>
            <ves_productcarousel>
                <show>1</show>    
                <title>Ves Product Carousel</title>  
				<theme>default</theme>
                <moduleHeight>auto</moduleHeight>
                <moduleWidth>auto</moduleWidth>
				<thumbWidth>260</thumbWidth>                
                <thumbHeight>150</thumbHeight>   
				<source>catalog</source> 
				<thumbnailMode>1</thumbnailMode>  
				<enable_jquery>0</enable_jquery>
				<blockPosition>content</blockPosition>
				<blockDisplay>before</blockDisplay>
				<menuAssignment>Mage_Cms_index</menuAssignment>
				<source>catalog</source>
				<pretext></pretext>
				<cmsblock>0</cmsblock>
				<show_navigator>1</show_navigator>
				<show_pager>1</show_pager>
				<show_title>1</show_title>
				<show_date>0</show_date>
				<show_desc>0</show_desc>
				<show_price>1</show_price>
				<show_pricewithout>1</show_pricewithout>
				<show_addcart>1</show_addcart>
				<show_wc>0</show_wc>
				<review>1</review>
				<enable_quickview>0</enable_quickview>
				<enable_swap>0</enable_swap>
				<enable_sale_icon>1</enable_sale_icon>
				<enable_new_icon>1</enable_new_icon>
			</ves_productcarousel>
			<catalog_source_setting>
				<catsid>3,5,7,8,9,10,11,12,13,14,15,17,18,19</catsid>
				<sourceProductsMode>latest</sourceProductsMode>
				<limit_item>8</limit_item>		
			</catalog_source_setting>
			
			<file_source_setting>
				<imagecategory></imagecategory>
			</file_source_setting>
			<effect_setting>
				<titleMaxchar>100</titleMaxchar>
				<descMaxchar>100</descMaxchar>
				<auto_play>0</auto_play>
				<interval>500</interval>
				<max_items>4</max_items>
				<limit_cols>4</limit_cols>
				<image_width>300</image_width>
                <image_height>300</image_height>
                <swap_image_number>0</swap_image_number>
                <popup_quickview_width>60%</popup_quickview_width>
                <popup_quickview_height>80%</popup_quickview_height>
			</effect_setting>

        </ves_productcarousel>
    </default>
</config>  