<?xml version="1.0"?>
<config>
  <modules>
    <Ziente_Appointments>
      <version>0.1.0</version>
    </Ziente_Appointments>
  </modules>
  <global>
    <helpers>
      <appointments>
        <class>Ziente_Appointments_Helper</class>
      </appointments>
    </helpers>
	<blocks>
	  <appointments>
		<class>Ziente_Appointments_Block</class>
	  </appointments>
	</blocks>
	<models>
	  <appointments>
		<class>Ziente_Appointments_Model</class>
		<resourceModel>appointments_mysql4</resourceModel>
	  </appointments>
	  <appointments_mysql4>
		<class>Ziente_Appointments_Model_Mysql4</class>
		<entities>		  
			  <hours>
				<table>ziente_hours</table>
			  </hours>		  
			  <days>
				<table>ziente_days</table>
			  </days>		  
			  <locations>
				<table>ziente_locations</table>
			  </locations>
        </entities>
	  </appointments_mysql4>
	</models>
	<resources>
	  <appointments_setup>
		<setup>
		  <module>Ziente_Appointments</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </appointments_setup>
	  <appointments_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </appointments_write>
	  <appointments_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </appointments_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <appointments>
	    <use>admin</use>
		<args>
		  <module>Ziente_Appointments</module>
		  <frontName>appointments</frontName>
		</args>
	  </appointments>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <appointments module="appointments">
		<title>Appointments</title>
		<sort_order>90</sort_order>
		<children>
		  <hours module="appointments">
		    <title>Manage Hours</title>
			<sort_order>20</sort_order>
			<action>appointments/adminhtml_hours</action>
		  </hours>
		  <days module="appointments">
		    <title>Manage Days</title>
			<sort_order>10</sort_order>
			<action>appointments/adminhtml_days</action>
		  </days>
		  <locations module="appointments">
		    <title>Manage Locations</title>
			<sort_order>0</sort_order>
			<action>appointments/adminhtml_locations</action>
		  </locations>
		</children>
	  </appointments>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<appointments translate="title" module="appointments">
			  <title>Appointments</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <hours translate="title">
			<title>Manage Hours</title>
			<sort_order>0</sort_order>
		  </hours>
		  <days translate="title">
			<title>Manage Days</title>
			<sort_order>10</sort_order>
		  </days>
		  <locations translate="title">
			<title>Manage Locations</title>
			<sort_order>20</sort_order>
		  </locations>
			  </children>
			</appointments>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<appointments>
		  <file>appointments.xml</file>
		</appointments>
	  </updates>
	</layout>
  </adminhtml>
</config> 