<?xml version="1.0"?>
<config>
    <modules>
        <Ziente_Appointments>
            <version>0.1.0</version>
        </Ziente_Appointments>
    </modules>
    <frontend>
        <routers>
            <appointments>
                <use>standard</use>
                <args>
                    <module>Ziente_Appointments</module>
                    <frontName>appointments</frontName>
                </args>
            </appointments>
        </routers>
        <layout>
            <updates>
                <appointments>
                      <file>appointments.xml</file>
                </appointments>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <appointments>
                <class>Ziente_Appointments_Model</class>
                <resourceModel>appointments_mysql4</resourceModel>
            </appointments>
            <appointments_mysql4>
                <class>Ziente_Appointments_Model_Mysql4</class>
                <entities>
                    <appointments>
                        <table>ziente_locations</table>
                    </appointments>
                    <schedule>
                        <table>ziente_schedule</table>
                    </schedule>
                </entities>
            </appointments_mysql4>
        </models>
        <resources>
            <appointments_setup>
                <setup>
                    <module>Ziente_Appointments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </appointments_setup>
            <appointments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </appointments_write>
            <appointments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </appointments_read>
        </resources>
        <blocks>
            <appointments>
                <class>Ziente_Appointments_Block</class>
            </appointments>
         </blocks>
        
        <helpers>
            <appointments>
                <class>Ziente_Appointments_Helper</class>
            </appointments>
        </helpers>
    </global>
</config>